In [281]:
import pandas as pd
import numpy as np
import pytz
from scipy.stats import ttest_ind

import matplotlib.pyplot as plt
plt.style.use('bmh')
%matplotlib inline

In [292]:
fb = pd.read_csv('/Users/fnokeke/Desktop/TP__fb_stats2.csv')
fb.shape

(18006, 16)

### Extract only date

In [293]:
fb.index = pd.to_datetime(fb['created_at'], utc=True)
fb.index = fb.index.tz_localize('UTC').tz_convert('Asia/Calcutta')
fb['only_date'] = fb.index.date
fb.head(2)

,id,created_at,worker_id,total_seconds,total_opens,time_spent,time_open,ringer_mode,current_experiment_group,current_fb_max_mins,current_fb_max_opens,current_treatment_start,current_followup_start,current_logging_stop,daily_reset_hour,screen_logs,only_date
created_at,,,,,,,,,,,,,,,,,
2017-04-07 15:12:25.032209+05:30,39,2017-04-07 09:42:25.032209,A2KOXR5OXIFUIW,300,0,30,3,normal,1,10,2,2017-04-16 00:00:00,2017-04-24 00:00:00,2017-05-02 00:00:00,0,NaN,2017-04-07
2017-04-07 15:12:25.414346+05:30,40,2017-04-07 09:42:25.414346,A2KOXR5OXIFUIW,300,0,30,3,normal,1,10,2,2017-04-16 00:00:00,2017-04-24 00:00:00,2017-05-02 00:00:00,0,NaN,2017-04-07

### Individual stats

In [301]:
 cols = ['worker_id',
 'time_spent',
 'time_open',
 'created_at',
 'only_date'
]
df = fb[cols]

In [413]:
wid = 'A1G2N1DT8VEHA9'

In [414]:
wfilter = df[df['worker_id'] == wid]
rdf = wfilter.sort_index().groupby(['worker_id', 'only_date']).apply(max)
rdf

                                worker_id  time_spent  time_open  \
worker_id      only_date
A1G2N1DT8VEHA9 2017-04-10  A1G2N1DT8VEHA9          85          3
               2017-04-16  A1G2N1DT8VEHA9          85          3

                                          created_at   only_date
worker_id      only_date
A1G2N1DT8VEHA9 2017-04-10  2017-04-10 04:54:41.49733  2017-04-10
               2017-04-16  2017-04-16 15:05:13.69147  2017-04-16

In [376]:
qq = rdf.describe()

In [377]:
print 'TimeSpent Avg: {} mins'.format(qq.to_dict()['time_spent']['mean'] / 60)
print 'Opens Avg: {}x'.format(qq.to_dict()['time_open']['mean'])

TimeSpent Avg: 46.5104166667 mins
Opens Avg: 12.5x

In [378]:
print 'TimeSpent Avg: {} mins'.format(0.5 * qq.to_dict()['time_spent']['mean'] / 60)
print 'Opens Avg: {}x'.format(0.5 * qq.to_dict()['time_open']['mean'])

TimeSpent Avg: 23.2552083333 mins
Opens Avg: 6.25x